/*Body */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
	font-family: "Segoe UI", Arial, sans-serif;
}

html{
	scroll-behavior: smooth;
}


/*Seccion inicial*/
#main{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/dark-aurora.webp");
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

#main .content header{
	background: #9fe11d;
	opacity: 0.7;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}

/*Seccion contenido*/

#main .content header .header{
	max-width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

/*centrar y enfocar navbar*/

#main .content header .header h1{
	text-align: center;
	color: #a8e8f6;
	font-size: 40px;
}

#main .content header .header nav ul{
	list-style: none;
	display: flex;
	align-items: center;
}

#main .content header .header nav ul a{
	text-decoration: none;
	color: #fff;
	margin: 0 12px;
	font-weight: 400;
	transition: .5%;
}

#main .content header .header nav ul a:hover{
	color: #a8e8f6;
}

#main .content header .header #sites a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
	transition: .5s;
}

#main .content header .header #sites a:hover{
	color: #a8e8f6;
}

/* Presentacion */

#main .content #present{
	max-width: 1100px;
	height: 100vh;
	margin: auto;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#main .content #present .welcome{
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

#main .content #present h2{
	font-size: 55px;
	margin-bottom: 25px;
	text-align: center;
}

#main .content #present h2 span{
	font-size: 40px;
	color: #a8e8f6;
}

#main .content #present .description{
	max-width: 700px;
	margin: 25px auto;
	font-size: 18px;
	text-align: center;
}

#main .content #present a{
	text-decoration: none;
	display: inline-block;
	margin: 25px;
	padding: 20px 25px;
	border: 2px solid #fff;
	border-radius: 50px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}

#main .content #present a:hover{
	background-color: #a8e8f6;
}

/* Iconos */

#icon-nav{
	color: #fff;
	display: none;
}


/* Seccion de presentacion */

#aboutme{
	max-width: 1100px;
	margin: auto;
	padding: 100px 15;
	color: #111135;
	display: flex;
}

#aboutme #container{
	max-width: 400px;
	margin-right: 80px;
}

#aboutme #container img{
	padding: 20px;
	width: 100%;
	border-radius: 20px;
}



#aboutme .aboutme .title-section{
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px ;
}

#aboutme .aboutme h2{
	font-size: 34px;
	font-weight: bold;
	margin:  20px 0;
	letter-spacing: 2px;
}

#aboutme .aboutme h2 span {
	color: #ff5080;
}

#aboutme .aboutme h3{
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

#aboutme .aboutme p{
	font-size: 14px;
	line-height: 25px;
	color: #565656;
	margin-bottom: 12px;
}

#aboutme .aboutme a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	border-radius: 30px;
	padding: 10px 20px;
	border: 1px solid #000;
	margin-top: 30px;
	transition: .5s;
}

#aboutme .aboutme a:hover{
	background-color: #ff5080;
	color: #fff;
}


/* Seccion de experiencias */

#experiences{
	padding: 100px 15px;
	text-align: center;
	background-color: #f3f3f3;
}

#experiences .title-sect{
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px ;
}

#experiences .rows{
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 30px auto;
}

#experiences .rows .experience{
	max-width: 350px;
	background-color: #fff;
	padding: 30px;
	margin: 0 5px;
	border-radius: 15px;
	transition: .5s;
}

#experiences .rows .experience:hover{
	box-shadow: 0 0 20px #565656;
}

#experiences .rows h4{
	font-size: 22px;
	margin-bottom: 25px;
}

#experiences .rows .experience .icons{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #d3d3d3;
	padding: 20px;
	margin-bottom: 25px;
}

#experiences .rows .experience hr{
	width: 30%;
	margin: auto;
	color: #000;
	margin-bottom: 25px;
}

#experiences .rows .experience ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#experiences .rows .experience p{
	font-size: 14px;
	line-height: 22px;
}


#skills{
	background: linear-gradient(#1e6cdc, rgba(102,190,207, 0.8)), url("../img/gx8kilgohxne1.webp");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
}

#skills .skill{
	max-width: 600px;
	margin: 30px auto;
}


#skills .skill .info{
	display: flex;
	justify-content: space-between;
}

#skills .skill .list{
	display: inline-block;
	margin-right: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
}

#skills .skill .bar{
	background-color: #919191;
	width: 100%;
	height: 6px;
	margin: 10px 0;
}

/* Progress bar */

#skills .skill .bar .progress-bar{
	background-color: #fff;
	width: 85%;
	height: 6px;
	animation: progess 2s forwards;
}
#skills .skill .bar .progress-bar2{
	background-color: #fff;
	width: 45%;
	height: 6px;
	animation: progess2 2s forwards;
}
#skills .skill .bar .progress-bar3{
	background-color: #fff;
	width: 50%;
	height: 6px;
	animation: progess3 2s forwards;
}
#skills .skill .bar .progress-bar4{
	background-color: #fff;
	width: 70%;
	height: 6px;
	animation: progess4 2s forwards;
}


/* Seccion portafolio */

#portfolio{
	max-width: 1100px;
	padding: 100px 0;
	margin: auto;
}

#portfolio .title-section-portfolio{
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}

#portfolio .stacks{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

#portfolio .stacks .projects{
	max-width: 450px;
	border: 1px solid #000;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
}

#portfolio .stacks .projects img{
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	object-fit: cover;
	transition: .5s;
}

#portfolio .stacks .projects:hover img{
	filter: grayscale(0);
}

#portfolio .stacks .projects .info{
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	color: #ff5080;
	width: 100%;
	opacity: 0;
	bottom: -40px;
	transition: .5s;
}

#portfolio .stacks .projects:hover .info{
	opacity: 1;
	bottom: 0;
}


/* seccion contacto */

#contact{
	padding: 100px 25px;
}


.container-contact{
	background: linear-gradient(#7aeafe, rgba(15, 145, 15, 0.8)), url("../img/frutiger-aqua.webp");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
}

#contact .contact-text{
	margin-bottom: 20px;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}

#contact .container-form{
	max-width: 1100px;
	margin: auto;
}

#contact .container-form .stack{
	margin-bottom: 15px;
}

#contact .container-form .half{
	display: flex;
	justify-content: space-between;
}

#contact .container-form input,
#contact .container-form textarea{
	padding: 20px;
	border-radius: 20px;
	border: none;
	border: 1px solid #919191;
}

#contact .container-form .half input{
	width: 48%;
}

#contact .container-form .input-full{
	width: 100%;
}

#contact .btn-submit{
	display: block;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	padding: 10px 15px;
}

#contact .btn-submit:hover{
	background-color: #ff5080;
	color: #fff;
}


footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}

footer a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 5px;
	font-size: 26px;
}


/* animations */

@keyframes progess{
	0%{width: 0;}
	100%{width: 70%;}
}

@keyframes progess2{
	0%{width: 0;}
	100%{width: 35%;}
}

@keyframes progess3{
	0%{width: 0;}
	100%{width: 60%;}
}

@keyframes progess4{
	0%{width: 0;}
	100%{width: 70%;}
}


/* Responsive design */

@media screen and (max-width:800px){
	#sites{
		display: none;
	}
	#navbar{
		display: none;
	}
	nav.responsive{
		display: block;
		background-color: rgba(0, 0, 0, .8);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}
	nav.responsive ul{
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li{
		margin: 5px 0;
	}
	#icon-nav{
		display: block;
	}
}


/*Slider*/

